{% extends 'base.html.twig' %}
{% block meta %}
	<meta name="base_url" content="http://www.fgtechs.fr/z-pedro/wwwluxuryservices">
	<meta name="csrf-token" content="9Tnm0YBCxgVTxoqI1HzccsU5NuE9RughZmhpzgXn">
{% endblock %}
{% block title %}Log in!
{% endblock %}

{% block body %}
	<div
		class="base">

		<!-- Page -->
		<div
			class="page">

			<!-- Page Header-->
			<section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="white-text">Register</h2>
							<span class="white-text">Welcome on board</span>
							<ol class="breadcrumb">
								<li>
									<a href="#!">Home</a>
								</li>
								<li class="active">Register</li>
							</ol>
						</div>
					</div>
				</div>
			</section>


			<!-- Page Content-->
			<section class="section-padding gray-bg log-section">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-sm-offset-3 card card-panel">
							<h3 class="text-extrabold">Create a new account</h3>

							{{ include ('register/_form_register.html.twig') }}

						</div>

					</div>
				</div>
			</section>

		</div>

	</div>

	{# <form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
	
		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
	
		<form id="login-form" role="form" method="post" accept-char="UTF-8" autocomplete="off" data-parsley-validate>
	
			<input type="hidden" name="_token" value="">
	
			<div class="input-field">
				<input type="email" name="email" id="email" value="" required autofocus data-parsley-trigger="change" data-parsley-error-message="A valid email address is required.">
				<label for="email">Email</label>
				<span class="help-block">Type your email address.</span>
			</div>
			<div class="input-field">
				<input type="password" name="password" id="password" required data-parsley-trigger="change" data-parsley-error-message="The password must be at least 6 characters.">
				<label for="password">Password</label>
				<i class="fa fa-eye show-password"></i>
				<span class="help-block">Type your password.</span>
			</div>
			<div class="checkbox">
				<input type="checkbox" id="keep-logged" name="remember" value="1"/>
				<label for="keep-logged">Keep me logged in</label>
			</div>
			<button type="submit" class="btn btn-lg gradient secondary btn-block waves-effect waves-light mt-20 mb-20">Login</button>
			<div class="links">
				<a href="#!">Forgot your password?</a>
			</div>
		</form> #}
{% endblock %}
